trigger:
  branches:
    include:
      - main
  paths:
    include:
      - frontend/*
      - frontend/**

pr:
  branches:
    include:
      - "*"
  paths:
    include:
      - frontend/*
      - frontend/**

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self

  - task: NodeTool@0
    inputs:
      versionSpec: "20.x"
    displayName: "Use Node.js 20.x"

  - task: Cache@2
    inputs:
      key: 'npm | "$(Agent.OS)" | frontend/package-lock.json'
      restoreKeys: |
        npm | "$(Agent.OS)"
      path: $(Pipeline.Workspace)/.npm
    displayName: "Cache npm"

  - script: |
      npm ci --no-audit --no-fund --cache $(Pipeline.Workspace)/.npm
    workingDirectory: frontend
    displayName: "Install (frontend)"

  - script: |
      npm run lint
    workingDirectory: frontend
    displayName: "Lint (frontend)"


